/* =============
    Base
============= */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: row;
    height: var(--contentHeight);
}

.fruitCard {
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        height: 72px;
        width: 72px;
    }
}

.selected {
    &>.fruitLabel {
        display: block;
    }

    & img {
        width: 200px;
        height: 200px;
    }
}

header {
    height: 80px;
    background-color: black;
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    gap: 48px;
    flex-direction: row;
    padding-left: 30px;
}

form {
    display: flex;
    gap: 24px;
}

form>* {
    border-radius: 8px;
    border-width: 1px;
    padding: 12px 14px;
}