/* =============
    Header
============= */
header {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    flex-direction: row;
    //idk why [padding: 0, 30px;] is not working
    padding-left: 30px;
    padding-right: 30px;
}

form {
    display: flex;
    gap: 24px;
}

form>* {
    border-radius: 8px;
    border-width: 1px;
    padding: 12px 14px;
}
#info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}